* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
h1{
color:#474935;
text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container > div {
  margin: 10px;
  min-width: 250px;
  min-height: 340px;
}


section img {
  width: 220px;
  height: 300px;
}
section  img:hover {
  width: 230px;
  height: 340px;
  box-shadow: rgba(24, 32, 1, 0.14) 0px 10px 15px;
}

header img{
  width: 160px;
}
#logo{
  text-align: center;
}
.menu{
  display: flex;
  justify-content:center;
  padding-bottom: 10px;

}

.menu > div:hover {
  background-color: rgba(71, 73, 53, 0.3);

}

.menu a {
  padding: 15px;
  text-decoration: none;
  color: rgb(71, 73, 53);
}

.menu input {
  height: 30px;
  background-color: rgba(71, 73, 53, 0.3);
  border: none;
  padding: 5px;
  color: white;
  text-align: center;
 
}


footer {
  background-color: #4749354d;
  height: 200px;
  margin-top: 20px;
  color:white;
  
}
footer > p {
  padding-top: 165px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  header{
    display: block;
    text-align: center;
    padding-bottom: 5px;

  }
   .menu > div {
    display: block;
    text-align: center;
   }
  .container {
    display: block;
  }
  .container > div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .container > img {
    width: 330px;
    height: 400px;
  }
}
