* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
}

.movie-container {
  width: 100%;
  height: fit-content;
  color: white;
  padding: 10px;
  display: flex;
}
strong {
  color: grey;
}

img {
  height: 330px;

  width: fit-content;
}
main {
  display: block;
}
main > h2 {
  color: gray;
  font-style: italic;
}
.description-container {
  flex: 2;
  padding: 20px;
}
.description-container > h2 {
  text-align: center;
  color: #474935;
}

.similar-movies {

  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.similar-movies img{
  margin: 20px 20px 0 0 ;
}

.genre-date {
  color: grey;
  display: flex;
  justify-content: center;
}
.genre-date > span {
  margin: 0 10px;
}
.watch-movie-button {
  text-align: center;
}

.watch-movie-button a {
  font-size: larger;
  text-decoration: none;
  background-color: #000000;
  color: rgb(71, 73, 53);
  padding: 8px;
  border: 0.5px solid #474935;
}

.watch-movie-button a:hover {
  box-shadow: rgb(71, 73, 53) 0px 0px 8px;
}

header {
  box-shadow: rgb(71, 73, 53) 0px 2px 0px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
}

header input {
  height: 30px;
  background-color: rgba(71, 73, 53, 0.3);
  border: none;
  padding: 5px;
  color: white;
  text-align: center;
}

header img{
  width: 160px;
  height:100px;
}

footer {
  background-color: #4749354d;
  height: 200px;
  margin-top: 20px;
 
}
footer > p {
  padding-top: 160px;
  text-align: center;
  color:white;
}

@media screen and (min-width: 800px) {
  .movie-container {
    width: 800px;
    margin: 0 auto;
    height: fit-content;
  }
 
}
